/* les styles pour le premierSITE Patrick Isola chantier Suresnes 2021-2022 */
@charset "UTF-8";
/* reset simple  */
/* l'étoile signifie tout all */
/* sinon on peut utiliser le reset d'Eric Meyer qui se trouve à cette adresse : http://meyerweb.com/eric/tools/css/reset/ */
* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* fin du reset simple */

/* les typos Google Font utilisées dans le site  */
/* Anton, Oswald, Lemonada  */

/* font-family: 'Anton', sans-serif;
font-family: 'Lemonada', cursive;
font-family: 'Oswald', sans-serif; */

body {
    font-family: 'Oswald', sans-serif;
    /* image de fond  */
    /* chemin depuis le fichier style.css ; on sort du dossier css puis on rentre dans le dossier img : ../ le chemin pour sortir d'un dossier */
    background-image: url('../img/concrete-texture.png');
}

.clear { /* la classe clear pour rétablir le flux */
    clear: both;
}

/* les titres du site */

h1 {
    /* typo google */
    font-family: 'Anton', sans-serif;
    /* taille de typo  */
    font-size: 35px;
    /* espacement entre les lettres */
    letter-spacing: 1px;
    /* couleur réf. héxadécimale */
    color: #fff;
    text-align: center;
}

h2 {
    font-size: 35px;
    color: #2c3e50;
    /* épaisseur des caractères */
    font-weight:bolder;
    /* text-shadow ou ombre portée, une propriété qui a besoin de 1 ou plusieurs valeurs cf. : https://developer.mozilla.org/fr/docs/Web/CSS/text-shadow*/
    text-shadow: 1px 1px 2px #aaa;
}

/* taille de l'icône dans les h2  */
/* i enfant de h2 ; l'icône sera 150% plus grande que la taille d'origine */
h2 i {
    font-size: 150%;
}

h3 {
    font-size: 22px;
    color: #2c3e50;
    text-shadow: 1px 1px 2px #aaa;
}

h4 {
    text-align: center;
}

p {
    padding: 5px;
}

blockquote {
    font-family: 'Lemonada', cursive;
    font-size: 80%;
}

blockquote i {
    font-size: 350%;
    color: #6acafc;
    vertical-align: middle;
}

/* A compléter position */

/* header */
header {
    height: 165px;
    background-color: #719bc5;
}

/* dans le header, les trois zones suivantes flottent toutes les trois à gauche elles ont une largeur en %, donc une largeur relatives à l'élément parent donc header */
/* la propriété float sert à casser le flux du html */
#logo {
    /* 1 la boite  */
    width: 25%;
    float: left;
    padding: 15px;  /* 2 marge intérieure de l'élément padding = rembourrage */
    /* 3 aspect de la boite */
    background-color: #719bc5;
    /* 4 texte */
    text-align: center;
}

#slogan {
    width: 50%;
    float: left;
    padding-top: 50px;
    background-color: #719bc5;
}

#social {
    width: 25%;
    float: left;
    background-color: #719bc5;
}

#social i { /* ici on cible un élément i dont le parent à l'id "social" */
    display: block; /* je change la nature de l'élément i qui est de type inline, en un élément de type block */
    padding: 15px 30px 0 0;
    font-size: 30px;
    text-align: right;
}

header a {
    text-decoration: none;
    color: #10828c;
}

/* fin header */
/* la nav, la navigation */
nav {    
    height: 70px;
    padding: 15px;

    background-color: #2980b9;
    /* une bordure en bas */
    border-bottom: 8px solid #6acafc;  

    text-align: center;
}

nav a {
    margin: 10px;
    padding: 2px 10px;

    background: #6acafc;
    border: 2px solid #fff;
    /* arrondi des angles des bordures */
    /* https://css3generator.com/  */
    border-radius: 10px 0;

    font-family: 'Oswald', sans-serif;
    color: #2c3e50;
    text-decoration: none;
    font-size: 16px;
    /* transition sur le nav a, marche avec le a :hover */
    transition: 0.5s;
}

nav a:hover {
    /* a :hover une pseudo-class un effet au survol du curseur */
    background-color: #a6d6c3;
    color: #fff;
}

.active {
    background-color: #a6d6c3;
    color: orangered;
}

/* fin nav */

/* les zones principales */
main {
    width: 1100px;
    margin: 0 auto;
    /* une couleur en rgba : red green blue et avec un canal "alpha" on joue sur la transparence de la couleur rgb */
    background-color: rgba(178, 178, 178, 0.178);
}

aside {
    height: 250px;
    width: 30%;
    padding: 10px;
    float: left;
    background-color: #a6d6c3;
}

#accueil {
    width: 70%;
    float: left;
}

section {
    margin-top: 50px;
    padding: 20px;
}

footer {
    height: 50px;
    margin-top: 10px;
    padding: 10px;
    background-color: #2980b9;

    text-align: center;
    color: #fff;
}
/* fin des zones principales de la page */

/* le retour en haut de page */

button {
    position: fixed; /* le bouton est fixé */
    bottom: 40px; /* à 40px du bas de la page */
    right: 20px; /*  et à 20px de la droite de la page */

    border: none; /* le bouton n'a pas de bordure */
    background: transparent; /* il est transparent */

    font-size: 350%;
    color: #2c3e50;
}

/* la page sélecteur */

.selection p {
    margin-bottom: 5px;
    background-color: orchid;
    color: greenyellow;
}

.selection p:first-of-type { /* 1er enfant du type désigné */
    background: hotpink;
}

.selection p:last-of-type { /* dernier élement du type désigné */
    background-color: #fff;
    width: 300px;
}

.selection p:nth-of-type(4), p:nth-of-type(6) { /* le énième élément du type désigné */
    background: black;
    color: white;
}

 /*  le symbole étoile signifie tout "all" et nous ciblons ici tous les derniers enfants des élémenst qui sont dans la section */
/* .selection *:last-child {
    font-size: 50px;
} */

.selection .zone-a {
    color: purple;
}

.selection .zone-b {
    color: royalblue;
}

.selection div:not(.zone-b) {
    background-color: red;
    font-size: 68px;
}

.selection .zone-b .texte-orange {
    font-size: 35px;
    color: orangered;
}

.selection #zone-d span {
    color: #32ff32;
    font-size: 30px;
    font-style: italic;
}
/* fin page des sélecteurs */

/* pages de images */

.img-fond {
    margin-bottom: 20px;
    background: #000 url('../img/fond.jpg') no-repeat;
    background-size: cover;
}

.img-fond p {
    width: 75%;
    margin: 200px auto 250px auto;
    padding: 20px;

    background: rgba(255,255,255,0.60);
    border-radius: 50px;
    font-size: 120%;
}

img[src="img/toureiffel.jpg"] { /* on ne cible que cette image, on la trouve par son chemin dans le fichier html */
    display: block; /* je change la nature de l'élément inline en block pour lui appliquer la margin automatique */
    padding: 20px;
    margin: auto;
    background-color: #fff;
}

.au-centre {
    text-align: center;
}

.img-golden {
    margin: 20px;
    border: 5px solid #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    transition: 1s; /* la durée de l'animation qui fonctionne avec le :hover des deux autres classes */
}

.img-golden:hover {
    border: 15px solid  #fff;
    transition: rotate(-7deg);
}

.rotation-360:hover {
    transform: rotate(-360deg);
}

/* fin page  des images */

/* page tableau */

.tableau table, .tableau td {
    border: 2px solid #205D67;
}

.tableau table {
    width: 80%;
    margin: auto;
    /* padding: 5px; */
    border-collapse: collapse;
}

.tableau td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

.tableau thead {
    background: #d0e3fa;
    border: 5px solid #6495ed;   
}

.tableau caption {
    
    height: 50px;
    padding-left: 5px;
    
    background: #d0e3fa;
    border: 1px solid #6495ed;
   
    font-size: 25px;
    text-align: left;
    color: #6495ed;
}

/* la page des listes */

ul.fruit {
    margin-top: 20px;
    margin-bottom: 20px;
    /* pour voir tous les types de puces faites CTRL + ESPACE  */
    list-style: none;
}

ul.fruit li {
    display: inline; /* les éléments li sont block par défaut et on change leur nature en élément inline */
    margin: 15px;
}

li .far {
    font-size: 90%;
    color: #2D5C7F;
}

li .far:hover {
    font-size: 150%;
    color: blue;
}

ol.fruit-2 {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: upper-roman;
}

.imbriquee, .imbriquee ul {
    padding-left: 40px;
}

.imbriquee {
    cursor: pointer;
}

.imbriquee ul {
    display: none;
}

.affiche:hover ul {
    display: block;
}

/* ici nous ciblons les li (au survol de la souris) qui sont dans une ul; imbriquée dans des li, eux-mêmes enfants d'un élément qui a la classe "imbriquee"  */
.imbriquee li ul li:hover {
    display: inline;
    font-size: 150%;
    background-color: #6acafc;
    box-shadow: 5px 10px 10px grey;
    transition-duration: 1s;
}

/* fin liste */

/* page des liens */

/* les ancres en haut de page  */
.ancre {
    text-align: center;
    padding: 100px;
}

.ancre a {
    margin: 8px;
    padding: 5px 10px;
    background: #2c3e50;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 3px black;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.ancre a:hover {
    box-shadow: none;
    text-shadow: 1px 5px 5px rgb(255, 255, 255);
    transition-duration: 0.5s;
}

/* la nav dans l'id menu */

#menu nav {
    background: transparent;
    border: none;
}

#menu ul {
    list-style: none;
    text-align: center;
}

#menu ul li {
    display: inline-block;
}

#menu nav a {
    padding: 10px;
    background: #ddd;
    
    color: grey;
    text-decoration: none;
    /* Lent sur le début et accélère de plus en plus vers la fin. */
    transition: 1s ease-in;
    
}

#menu nav a:hover {    
    background: #069;
    color: #fff;
}

/* le menu déroulant */

/* la hauteur de la section qui contient le menu  */
#menu-deroulant {
    height: 650px;
}

/* on enlève les styles que l'élément nav hérite de la nav du site */
#menu-deroulant nav {
    width: 90%;
    margin: 0 auto;
    background: transparent;
    border: none;
}

/* on fait flotter à gauche les li de la ul principale */
#menu-deroulant nav ul li {
    float: left;
    list-style: none;
    width: 20%;
}

/* les deux ul enfant la ul principale sont display none on les masque  */
#menu-deroulant ul ul {
    display: none;
}

/* ces deux ul ont une classe niveau-2 et sur le hover des li qui contiennent ces ul on fait display block on les fait réaparaître */
#menu-deroulant nav ul.niveau-1 li.sous-menu:hover ul.niveau-2 {
    display: block;
}

#menu-deroulant nav ul li ul li {
    border-top: 1px solid #333;
    width: 100%;
}

#menu-deroulant nav li {
    background: #ccc;
}

#menu-deroulant nav li a {
    padding: 4px 0 4px;
    display: block;
}

#menu-deroulant ul {
    text-align: center;
}

/* la page formulaire */

form {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 20px 100px;

    background: #80bceb;
    border-radius: 20px;
}

textarea {
    resize: none;
}

label {
    margin: 20px 10px;
}

/* page multimédia */

/* pour you tube */

iframe[src="https://www.youtube-nocookie.com/embed/nkj4RCcR0CY"] {
    width: 100%;
}

/* pour les iframe */

iframe[allowfullscreen] {
    width: 100%;
}

.bordure {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    border: 10px solid rgb(235, 95, 76);
}

/* pour la vidéo de fond  */
 /* réglage de la section */
.video-fond {
   padding-left: 0;
   padding-right: 0;
}

.video-fond video {
    /* la position est absolue sur la page  */
    position: absolute;
    /* margin: 0 auto; */
    width: 80%;
    /* l'empilement, le z-index : le 1 est le niveau le plus bas dans l'ordre d'empilement : le z-order */
    z-index: 1;
}

.video-texte {
    position: relative;
    /* postion relative permet de décaler un élément par rapport à sa position normale */
    width: 100%;
    height: 500px;
    /* border: rgb(54, 52, 56) 10px solid; */
}


.video-fond p {
    position: absolute;
    z-index: 2;
    width: 500px;
    margin: auto;
    left: 225px;
    top: 225px;
    padding: 20px;
    border-radius: 15px;

    background: rgba(255, 255, 255, 0.60);

    font-size: 120%;
    text-align: center;
}

/* page des zonings */

/* pour le zoning 1 */

#zoning-1 {
    width: 800px;
    margin: auto;
    color: rgb(49, 49, 49);
    text-align: center;
}

#zoning-1 header  {
    height: 70px;
    background: #F7F39A;
}

#zoning-1 aside {
    height: 525px;
    width: 20%;
    float: left;
    padding: 0;
    background: #A3DE83;
 }
 
#zoning-1 section {
    height: 525px;
    width: 80%;
    float: left;
    margin: 0;
    padding: 0;
    
    background: #4dc40d;
 }

 /* pour le zoning 2 A FAIRE  */

 /* pour le zoning 3 */

 #zoning-3 {
     width: 800px;
     margin: auto;
 }

 #zoning-3 section {
     width: 50%;
     min-height: 400px;
     float: left;
 }

 #zoning-3 .bleu {
    background-color:blue;
}

#zoning-3 .rose {
    background-color:pink;
}

#zoning-3 footer {
    height: 150px;
    background-color: rgb(235, 28, 62);
}

#zoning-3 footer  {
    margin: 0;
}

#zoning-3 div {
    height: 15px;
    margin: 0;
    padding: 0;
    background-color: rgb(136, 72, 17);
}