/* les styles pour le premierSITE  Patrick Isola chantier Suresnes 2021-2022 */


/* les typos Google FOnt utilisées dans le site  */
/* Anton, Oswald, Lemonada  */

/* font-family: 'Anton', sans-serif;
font-family: 'Lemonada', cursive;
font-family: 'Oswald', sans-serif; */

body {
    font-family: 'Oswald', sans-serif;
}

/* les titres du site */

h1 {
    /* typo google */
    font-family: 'Anton', sans-serif;
    /* taille de typo  */
    font-size: 45px;
    /* espacement entre les lettres */
    letter-spacing: 1px;
    /* couleur réf. héxadécimale */
    color: #2980b9;
    text-align: center;
}

h2 {
    font-size: 35px;
    color: #2c3e50;
    /* épaisseur des caractères */
    font-weight:bolder;
    /* text-shadow ou ombre portée, une propriété qui a besoin de 1 ou plusieurs valeurs cf. : https://developer.mozilla.org/fr/docs/Web/CSS/text-shadow*/
    text-shadow: 1px 1px 2px #aaa;
}

/* taille de l'icône dans le h2  */
/* i enfant de h2 ; l'icône sera 150% plus grande que la taille d'origine */
h2 i {
    font-size: 150%;
}

h3 {
    font-size: 22px;
    color: #2c3e50;
    text-shadow: 1px 1px 2px #aaa;
}

h4 {
    text-align: center;

}

blockquote {
    font-family: 'Lemonada', cursive;
}