 /* Cubitus 02 - pisola Suresnes */
 
 .c1, .c2 {
    height: 10em;
    width: 10em;

    border: 0.2em solid black;
    margin: 0.2em;
    float: left;

    /*display: inline-block;*/
    border-radius: 20%;
    
    text-align: center;
    font-size: 120%;
    color: white;
}
.c1 {
    background-color: #7a43e0;
}
.c2 {
    background-color: #43e07a;
}
.clear {
    clear: both;
}
