/* 4ème zoning */

body {
    background-color: olive;
    text-align: center;
}

main {
    width: 1200px;
    margin: 20px auto;
}

header {
    width: 1200px;
    height: 200px;
    background-color: #ffc0cb;
}

aside {
    width: 200px;
    float: left;
    min-height: 800px;
    background-color:#7ff798;
    text-align: center;
}

section {
    width: 800px;
    float: left;
    min-height: 800px;
    background-color: #54f5cb;
}

.clear  {
    clear: both;
}